{{#descriptors}}

    <!-- {{sourceName}} / {{file}} -->
    {{#dependency}}
        <dependency>
            <groupId>{{groupId}}</groupId>
            <artifactId>{{artifactId}}</artifactId>
            <version>{{version}}</version>
        </dependency>
    {{/dependency}}
{{/descriptors}}